.navItem {
    border-left: 3px solid transparent;
}

.navItem.active,
.dark .navItem.active {
    color: #121212;
    background-color: rgba(229, 255, 245, 1);
    border-left-color: #13B440;
}

.sidebar-menu>li.active>a {
    color: #121212;
    background-color: rgba(229, 255, 245, 1);
    border-left-color: #13B440;
}

.sidebar-submenu .navItem {
    color: rgba(113, 113, 122, 1);
    border: none;
}

.sidebar-submenu .navItem.active {
    background-color: #F7F7F7;
    color: #18181B;
}

.group:hover .group-hover\:opacity-100 {
    opacity: 1;
}

.group:hover .group-hover\:bottom-0 {
    bottom: 0px;
}

.bg-black\/20 {
    background-color: rgb(0 0 0 / 0.2);
}

.flex-column {
    flex-direction: column;
}

.mt-auto {
    margin-top: auto;
}

.max-w-sm {
    max-width: 24rem; /* 384px */
}

.aeg {
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.aer {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.select2-container .select2-selection--multiple {
    min-height: 38px;
}

.select2-container--default .select2-selection--single {
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240 / var(--tw-border-opacity));
}

.\!pl-16\.5	{
    padding-left: 4.5rem;
}

.btn {
    min-width: 110px;
}

.tableActionsDropdown {
    align-items: stretch;
}
.dropdown .actionsDropdownBtn {
    border-left: none;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.groupButtons .btn {
    min-width: unset;
}


.min-w-min {
    min-width: min-content;
}
.min-w-max {
    min-width: max-content;
}
.min-w-fit {
    min-width: fit-content;
}
.select2-dropdown {
    z-index: 1061;
}

.select2-dropdown {

}

.\!inline-flex {
    display: inline-flex !important;
}
.h-\[115px\] {
    height: 115px;
}

.customer-profile-cover {
    background: rgb(250,232,255);
    background: linear-gradient(90deg, rgba(250,232,255,.5) 0%, rgba(247,254,231,.5) 45%, rgba(254,239,239,.5) 100%);
}
.dataTables_info {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.dataTable td {
    --tw-border-opacity: 1;
    border-color: rgb(241 245 249 / var(--tw-border-opacity));
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 400;
    text-transform: capitalize;
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity));
}

.dataTables_wrapper, .basicTable_wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 385px);
}
#processingIndicator {
    position: absolute;
    top: calc(50% - 54px);
    left: calc(50% - 54px);
}

.dashcode-data-table .dataTables_empty {
    text-align: center;
}
.dark .dropdown-menu{
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}
