/node_mo
/assets/hot
/assets/storage
/assets/global/images/*
/storage/*.key
/storage
/vendor
.env
.env.backup
.htaccess
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/node_modules
/composer.lock
/docs

