:root {
  --color-brand-25: #ff7f7f;
  --color-brand-50: #ff6666;
  --color-brand-100: #ff4c4c;
  --color-brand-200: #ff3333;
  --color-brand-300: #ff1919;
  --color-brand-400: #ff0000;
  --color-brand-500: #ff0000;
  --color-brand-600: #cc0000;
  --color-brand-700: #b20000;
  --color-brand-800: #990000;
  --color-brand-900: #7f0000;
  --color-brand-950: #650000;
  --color-success-25: #88dbb4;
  --color-success-50: #70d3a5;
  --color-success-100: #59cc96;
  --color-success-200: #41c587;
  --color-success-300: #29be78;
  --color-success-400: #12b76a;
  --color-success-500: #12b76a;
  --color-success-600: #0e9254;
  --color-success-700: #0c804a;
  --color-success-800: #0a6d3f;
  --color-success-900: #095b35;
  --color-success-950: #07492a;
  --color-error-25: #f7a19b;
  --color-error-50: #f68e87;
  --color-error-100: #f47c73;
  --color-error-200: #f3695f;
  --color-error-300: #f1564b;
  --color-error-400: #f04438;
  --color-error-500: #f04438;
  --color-error-600: #c0362c;
  --color-error-700: #a82f27;
  --color-error-800: #902821;
  --color-error-900: #78221c;
  --color-error-950: #5f1b16;
  --color-warning-25: #fbc784;
  --color-warning-50: #fabc6b;
  --color-warning-100: #f9b152;
  --color-warning-200: #f8a63a;
  --color-warning-300: #f79b21;
  --color-warning-400: #f79009;
  --color-warning-500: #f79009;
  --color-warning-600: #c57307;
  --color-warning-700: #ac6406;
  --color-warning-800: #945605;
  --color-warning-900: #7b4804;
  --color-warning-950: #623903;
  --color-info-25: #85d2f5;
  --color-info-50: #6cc9f3;
  --color-info-100: #54c0f1;
  --color-info-200: #3bb7ef;
  --color-info-300: #23aeed;
  --color-info-400: #0ba5ec;
  --color-info-500: #0ba5ec;
  --color-info-600: #0884bc;
  --color-info-700: #0773a5;
  --color-info-800: #06638d;
  --color-info-900: #055276;
  --color-info-950: #04415e;
  --color-secondary-25: #b2b7c2;
  --color-secondary-50: #a3a9b5;
  --color-secondary-100: #939aa9;
  --color-secondary-200: #848c9d;
  --color-secondary-300: #757e91;
  --color-secondary-400: #667085;
  --color-secondary-500: #667085;
  --color-secondary-600: #51596a;
  --color-secondary-700: #474e5d;
  --color-secondary-800: #3d434f;
  --color-secondary-900: #333842;
  --color-secondary-950: #282c35;
}
